@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logo {
  color: #ffffff;
  font-size: x-large;
  font-weight: 800;
}

.container {
  background: #055bb9;
  padding: 10px 20px;
  box-shadow: 0 10px 20px rgba(31, 31, 31, 0.2);
  display: flex;
  justify-content: space-between;
  place-items: center;
  text-align: center;
}

.nav-links {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
}
.nav-links li {
  list-style: none;
  margin: 0 12px;
}
.nav-links li a {
  position: relative;
  color: #ffffffbd;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}

.nav-links li:hover {
  color: #000;
  text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px #00ffff;
  transition: 0.5s;
}

.nav-links li a:hover {
  color: white;
}

.login-button {
  font-weight: 900;
  color: white;
  background-color: transparent;
  width: 150px;
  height: 50px;
  border: 1px solid #ffffff; /* Add borders for clarity */
  border-radius: 5px;
}

.login-button-link{
  color: white;
  text-decoration: none;
}

.login-button:hover{
  color: black;
  text-decoration: none;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align items */
    padding: 10px;
  }

  .nav-links {
    margin-top: 20px; /* Add space between logo and links */
  }

  .logo {
    font-size: large; /* Reduce logo font size */
    margin-bottom: 10px; /* Add space below the logo */
  }

  .login-button {
    width: 100%; /* Make login button full-width */
    margin-top: 20px; /* Add space above the login button */
  }

  .nav-links li {
    text-align: center; /* Center-align the list items */
    margin: 10px 0; /* Add spacing between items */
  }

  .nav-links li a {
    padding: 10px 0; /* Add padding between links */
  }
}